.logout{
    position: absolute;
    right: 5px;
}
.label{
    font-size: 18px;
    }
    .disabled{
    color: gray;
    }
::ng-deep .mat-mdc-button>.mat-icon{
font-size: 25px!important;
height: 25px!important;
width: 25px!important;
}
